from pyproj import Proj, transform
import numpy as np
import datetime
import os
import time
import csv
import psycopg2
import ftplib as ftp
from tkinter import *
from functools import partial
import shutil